mixin past-event()
  .past-event
    .past-event__title Прошедшие мероприятия
    .past-event__container
      .past-event__wrapper
        .past-event__slide
          .past-event__image-box
            img(src='/assets/images/past-events.jpg')
          .past-event__slide-title Клубное путешествие в Сочи.
          .past-event__slide-date 17 июля 2020, Сочи
          .past-event__slide-text Спуск на параплане с вершины горы «Роза Пик» это не просто яркие впечатления, всё гораздо глубже. Зачастую, чтобы доб…
          .past-event__link Развернуть
        .past-event__slide
          .past-event__image-box
            img(src='/assets/images/past-events.jpg')
          .past-event__slide-title Клубное путешествие в Сочи.
          .past-event__slide-date 17 июля 2020, Сочи
          .past-event__slide-text Спуск на параплане с вершины горы «Роза Пик» это не просто яркие впечатления, всё гораздо глубже. Зачастую, чтобы доб…
          .past-event__link Развернуть
        .past-event__slide
          .past-event__image-box
            img(src='/assets/images/past-events.jpg')
          .past-event__slide-title Клубное путешествие в Сочи.
          .past-event__slide-date 17 июля 2020, Сочи
          .past-event__slide-text Спуск на параплане с вершины горы «Роза Пик» это не просто яркие впечатления, всё гораздо глубже. Зачастую, чтобы доб…
          .past-event__link Развернуть
