extends ../../layouts/util
include ../../core/svg
include ./image/popup-image
include ./request/popup-request
include ./viewing/popup-viewing
include ./mortgage/popup-mortgage
include ./success/popup-success

mixin popup(info)
  - var popups = require('../../data/popups.json');
  .popup.popup--common(id=info.id)
    .popup__content-wrap
      .popup__content
        button.popup__close
          +svg('close')
        if (info.id === 'popup-image')
          +popup-image
        if (info.id === 'popup-request')
          +popup-request(popups.request)
        if (info.id === 'popup-mortgage')
          +popup-mortgage(popups.mortgage)
        if (info.id === 'popup-viewing')
          +popup-viewing(popups.viewing)
        if (info.id === 'popup-success')
          +popup-success(popups.success)
