extends ../layouts/main.pug
include ../blocks/main-block/main-block.pug
include ../blocks/video/video.pug
include ../blocks/club-values/club-values.pug
include ../blocks/mentors/mentors.pug
include ../blocks/events/events.pug
include ../blocks/past-event/past-event.pug
include ../blocks/entry-terms/entry-terms.pug
include ../blocks/contacts/contacts.pug

block vars
  - var indexPage = require('../data/indexPage.json');

block content
  main.main
    +main-block()
    +video()
    +club-values()
    +mentors()
    +events()
    +past-event()
    +entry-terms()
    +contacts()
