mixin video()
  .video
    .video__box
    .video__preview
      img(src='/assets/images/preview.jpg')
      button.video__preview-button(type='button', name='play video', aria-label='play video')
      .video__preview-text Смотреть видео о клубе
