mixin contacts()
  .contacts
    .contacts__title Контакты
    .contacts__container
      .contacts__box
        .contacts__image-box
          img(src='/assets/images/map.jpg', alt='map')
        .contacts__info
          .contacts__box-title Россия
          .contacts__box-row
            span Адрес:
            span г. Москва, Химки, Куркинское шоссе, стр. 2, этаж 14
          .contacts__box-row
            span E-mail:
            a(href='mailto:support@solargroup.pro') support@solargroup.pro
          .contacts__box-row
            span Телефон:
            a(href='tel:84956461359') +7 (495) 646-13-59
          .contacts__box-row
            span Контактное лицо:
            span Константин Константинов
          a.contacts__open-link(href='#') Открыть в Google Maps
