$parent: main-block;

@include block($parent) {
  position: relative;
  width: 100%;
  height: rem(667);

  @media (min-width: 768px) {
    height: rem(1024);
  }

  @media (min-width: 1280px) {
    height: rem(800);
  }

  @include element($parent, 'background') {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  @include element($parent, 'container') {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 rem(20);

    @media (min-width: 768px) {
      padding: 0 rem(50);
    }
  }

  @include element($parent, 'title') {
    font-weight: 900;
    font-size: rem(32);
    color: $white;
    margin-bottom: rem(15);
    opacity: 0;
    animation: slUp 0.2s 1s linear forwards;

    @media (min-width: 768px) {
      font-size: rem(64);
      margin-bottom: rem(34);
    }

    @media (min-width: 1024px) {
      width: 80%;
      max-width: rem(1000);
      font-size: rem(72);
    }

    @media (min-width: 1280px) {
      letter-spacing: 0.7px;
    }
  }

  @include element($parent, 'text') {
    font-weight: 700;
    font-size: rem(18);
    color: $gray;
    margin-bottom: rem(50);
    opacity: 0;
    animation: slUp 0.2s 1.1s linear forwards;

    @media (min-width: 768px) {
      font-size: rem(24);
      margin-bottom: rem(95);
    }

    @media (min-width: 1024px) {
      width: 80%;
      margin-bottom: rem(65);
    }
  }

  @include element($parent, 'button') {
    font-weight: 700;
    font-size: rem(14);
    color: $white;
    text-transform: uppercase;
    background-color: $blue;
    border-radius: rem(25);
    padding: rem(19) rem(45);
    margin-bottom: rem(30);
    opacity: 0;
    animation: slUp 0.2s 1.2s linear forwards;

    @media (min-width: 768px) {
      padding: rem(20) rem(45);
      margin-bottom: rem(70);
    }

    @media (min-width: 1280px) {
      transition: transform 0.3s linear;

      span {
        display: inline-block;
        transition: transform 0.3s linear;
      }

      &:hover {
        transform: scale(1.05);

        span {
          transform: scale(0.95);
        }
      }
    }
  }

  @include element($parent, 'keyhole') {
    position: absolute;
    width: rem(24);
    height: rem(40);
    bottom: rem(48);
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/assets/images/keyhole.png');
    opacity: 0;
    animation: slUp 0.2s 1.3s linear forwards;

    @media (min-width: 768px) {
      bottom: rem(96);
    }
  }
}

@keyframes slUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
