mixin main-block()
  .main-block
    img.main-block__background(src='/assets/images/main-block.jpg', alt='Solar group')
    .main-block__container
      .main-block__title Закрытый клуб успешных партнёров SolarGroup
      .main-block__text Вступите в клуб — получите сильное окружение и дополнительный доход.
      button.main-block__button(type='button', name='Enter the club')
        span Вступить в клуб
    .main-block__keyhole
      +svg('keyhole')
