mixin mentors()
  .mentors
    .mentors__title Менторы клуба
    .mentors__container
      .mentors__wrapper
        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentor.jpg')
          .mentors__info
            .mentors__name Жиль Вебер
            .mentors__position Национальный партнёр во Франции, Сенегале, Бенине и Кот-Д’Ивуаре.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи.

        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentor.jpg')
          .mentors__info
            .mentors__name Жиль Вебер
            .mentors__position Национальный партнёр во Франции, Сенегале, Бенине и Кот-Д’Ивуаре.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи.

        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentor.jpg')
          .mentors__info
            .mentors__name Жиль Вебер
            .mentors__position Национальный партнёр во Франции, Сенегале, Бенине и Кот-Д’Ивуаре.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи.
