mixin mentors()
  .mentors
    .mentors__title Менторы клуба
    .mentors__container
      .mentors__wrapper
        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentor.jpg')
          .mentors__info
            .mentors__name Жиль Вебер
            .mentors__position Национальный партнёр во Франции, Сенегале, Бенине и Кот-Д’Ивуаре.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи.

        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentors-2.jpg')
          .mentors__info
            .mentors__name Чинг Ван Лонг
            .mentors__position Национальный партнёр во Вьетнаме.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи, что не только укрепит бизнес и деловые связи.

        .mentors__slide
          .mentors__image-box
            img(src='/assets/images/mentors-3.jpg')
          .mentors__info
            .mentors__name Бирди Гульшан Кумар
            .mentors__position Национальный партнёр в Индии.
            .mentors__text Текст о менторе. Рыба: ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи, что не только укрепит бизнес и деловые связи.
