$parent: popup-image;

@include block($parent) {
  height: 100%;
  width: 100%;

  @include flex-center();

  @include element($parent, 'img') {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    pointer-events: auto;
  }
}
