mixin club-values()
  .club-values
    .club-values__title Ценности клуба
    .club-values__section
      img(src='/assets/images/club.jpg')
      .club-values__section-title Cильное окружение
      .club-values__section-text В нашем клубе состоят люди с правильными личными и семейными ценностями, которые умеют зарабатывать достойные деньги и могут научить этому других.
    .club-values__section
      img(src='/assets/images/club.jpg')
      .club-values__section-title Дополнительный доход
      .club-values__section-text Члены партнёрского клуба зарабатывают больше, чем просто партнёры Solargroup за счёт трёх видов дополнительной финансовой мотивации: дополнительный процент с первых двух уровней; единоразовое вознаграждение за переход на следующий партнёрский статус; дополнительный доход за стабильный ежемесячный двойной оборот структуры.
    .club-values__section
      img(src='/assets/images/club.jpg')
      .club-values__section-title Образовательная программа
      .club-values__section-text Мы заметили, что вложения в себя дают самый грандиозный результат в дальней перспективе, поэтому создали эксклюзивную образовательную программу для членов партнёрского клуба.
    .club-values__section
      img(src='/assets/images/club.jpg')
      .club-values__section-title Клубные путешествия
      .club-values__section-text Ничто так не сближает как совместно пережитые эмоции. Мы решили объединить в клубе всех сильных партнёров за счёт уникальных приключений по всему миру — это позволит сплотить людей разных национальностей и цвета кожи, что не только укрепит бизнес и деловые связи, но и породит дружбу между ними на десятилетия!
