mixin entry-terms()
  .entry-terms
    .entry-terms__title Условия вступления
    .entry-terms__list
      .entry-terms__item
        .entry-terms__item-title Партнёрство
        .entry-terms__item-text На первом этапе вы должны стать партнёром SolarGroup. Вы можете сделать это в Личном кабинете на сайте компании.
        .entry-terms__image-box
          picture
            source(srcset="/assets/images/entry-terms-1.png" media="(min-width: 1024px)")
            img(src='/assets/images/entry-terms-1-m.png')
      .entry-terms__item
        .entry-terms__item-title Статус
        .entry-terms__item-text Затем вам необходимо повысить свой партнёрский статус до «Мастера», «Эксперта» или «Профессионала».
        .entry-terms__image-box
          img(src='/assets/images/entry-terms-2.png')
      .entry-terms__item
        .entry-terms__item-title Заработок
        .entry-terms__item-text Далее вам нужно зарабатывать каждый месяц на партнёрской программе свыше $1000  в статусе «Мастер», от $2500 в статусе «Эксперт» и от $5000 в статусе «Профессионал».
        .entry-terms__image-box
          picture
            source(srcset="/assets/images/entry-terms-3.png" media="(min-width: 1024px)")
            img(src='/assets/images/entry-terms-3-m.png')
      .entry-terms__item
        .entry-terms__item-title Реинвестирование
        .entry-terms__item-text Последним условием является ежемесячное реинвестирование в проект SolarGroup 10% от дохода: от $100 в статусе «Мастер», от $250 в статусе «Эксперт» и от $500 в статусе «Профессионал».
        .entry-terms__image-box
          img(src='/assets/images/entry-terms-4.png')
    button.entry-terms__button(type='button', name='Стать партнёром') Стать партнёром
