// Fonts
$circe: 'Circe', sans-serif, -apple-system;

// Colors
$white: #fff;
$black: #333;
$primary: #646464;
$green-d: #25352b;
$green-m: #728472;
$green-l: #c7cec7;
$green-sec: #6db479;
$red: #a9473c;
$red-hover: #ba6c63;
$red-l: #e14b4b;
$stone: #e1c5ac;
$gray: #bdbdbd;
$gray-dis: #f8f9f8;
$gray-comp: #bdbec0;
$vk: #47678e;
$fb: #3b5998;
$viber: #46c656;
$telegram: #0095df;

// Other
$ease: 0.3s ease;
