include ../../core/svg

mixin footer(data)
  footer.footer
    .footer__container
      .footer__copyright= data.copyright
      .footer__social-box
        each item in data.social
          a.footer__social(href=item.href)
            +svg(item.icon)
      a.footer__lang.footer__lang--ru(href='#')
        span RU
